:root {
  --vp-c-brand-1: #08979c;
  --vp-c-brand-2: #13c2c2;
  --vp-c-brand-3: #08979c;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #08979c 30%, #13c2c2);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #36a0bc 50%, #badbdd 50%);
  --vp-home-hero-image-filter: blur(68px);
}

.vp-raw :not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: var(--vp-code-bg);
  transition: color 0.25s, background-color 0.5s;
}

.vp-raw :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: inherit;
}
