:root {
  --vp-c-brand-1: #3451b2;
  --vp-c-brand-2: #3a5ccc;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #3451b2 30%, #3aabcb);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #3aabcb 50%, #bee0e2 50%);
  /* #bee0e2 rgb(228,240,238) */
  --vp-home-hero-image-filter: blur(80px);
}
